- let games = {200540194: 'Spullen voor grootmoeder', 200773505: 'Hans en Grietje', 200685926: 'Sneeuwwitje en de dwergen', 200764912: 'De redding van Roodkapje'};

h1 Spellen
ul
  each val, index in games
    li(id = index class = 'bonusGame')= val
