html
  head
    title sprookjesboek login
    link(rel='stylesheet' href='css/unauth.css')
    
  body
    #container
      .placeholder
        h1 login
        form(action='' method='post')
          label username
            input#username(type='text' name='username')
          label password
            input#password(type='password' name='password')  
          input.button(type='submit' value='Login!')
          a(href='/signup') Signup
          -if (loginMessage)
            p #{loginMessage}
        
